* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #52006A;
}

.colors {
    width: 75px;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: white;
    border-left: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colors span {
    width: 30px;
    height: 30px;
    background-color: var(--clr);
    margin: 20px 0px;
    border-radius: 50%;
    cursor: pointer;
}

.colors span.active {
    border: 2px solid black;
}

.colors span::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--clr);
    transform: rotate(45deg) translateY(5px);
    translate: -31px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    opacity: 0;
}

.colors span.active::before {
    opacity: 1;
}